/* Variables OOCSS */

/* Colors Options
 * https://coolors.co/
*/

/* Default Colors */
$color__white: hsl(0, 0%, 100%);
$color__black: hsl(0, 0%, 0%);
$color__gray: hsl(228, 9.8%, 10%);
$color__gray__clean: hsl(0, 0%, 86%);

/* First Color  */
$color__first__hue: 349.58;
$color__first__hsla: 1;
$color__first: hsla($color__first__hue, 96.38%, 43.33%, $color__first__hsla);

/* Second Color  */
$color__second__hue: 353.51;
$color__second__hsla: 1;
$color__second: hsla($color__second__hue, 66.07%, 56.08%, $color__second__hsla);


/* Gradient Color */
//--gradient-red: linear-gradient(90deg, rgba(217, 0, 48, .95) 5%, rgba(171, 50, 76, .95) 89%);
//--gradient-blue: linear-gradient(54deg, rgba(74,76,179,.95) 34%, hsla(0,34%,71%,.95));
//--gradient-black: linear-gradient(54deg, rgba(74,76,179,.95) 34%, hsla(0,34%,71%,.95));
//
//.gradient_red {
//  background: linear-gradient(54deg, rgba(74,76,179,.95) 34%, hsla(0,34%,71%,.95));
//}
//$gradient_red: linear-gradient(54deg, rgba(74,76,179,.95) 34%, hsla(0,34%,71%,.95));
//

/* Container's Block */
$font__name: 'Source Code Pro', monospace;
$fontname_last: 'Raleway', sans-serif;
$fz: 0em !important;
$mz: 0;
$pz: 0;
$dn: none;


/*
 * Convert Size -> ( px ) to ( em ) {N / 16} = Result
 *
 * Size Font
 *
 */
$font__mini: .625em;	      // 10px ^
$font__normal: .875em;	      // 14px
$font__smaller: 1.125em;      // 18px ^
$font__small: 1.375em;        // 22px
$font__big: 1.75em;           // 28px

/* Size Font Icon */
$font__icon__normal: 1.125em;   // 18px
$font__icon__big: 3.125em;      // 50px


/*
 *
 * Contents Vars
 *
 */
$container__with: 100%;
$content__max__width: 1680px;
$content__width: 90%;

/* Container's Block */
.container {
  width: $container__with;
  display: block;
}
.content {
  width: $content__width;
  max-width: $content__max__width;
  display: block;
  margin: 0 auto;
}

/* Container's Flex */
.container__flex {
  width: $container__with;
  display: flex;
  flex-wrap: wrap;
}
.content__flex {
  width: $content__width;
  max-width: $content__max__width;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}


/*
 * Mixin's Sass
 *
 * Ex: @include radius(50%);
 *
 */
@mixin radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
  border-radius: $radius;
}


/*
 * Transition Sass
 *
 * Ex: @include transition(all 280ms ease-in-out);
 *
 */
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
  transition: $transition;
}


/*
 * Box-Shadow Sass
 *
 * Ex: @include tshadow(2px 2px 10px 2px $color);
 *
 */
@mixin box-shadow($bshadow) {
  -webkit-box-shadow: ($bshadow);
     -moz-box-shadow: ($bshadow);
  box-shadow: ($bshadow);
}


/*
 * Text-Shadow Sass
 *
 * Ex: @include tshadow(2px 2px 10px 2px $color);
 *
 */
@mixin tshadow($tshadow) {
  -webkit-text-shadow: ($tshadow);
     -moz-text-shadow: ($tshadow);
  text-shadow: ($tshadow);
}


/*
 * Rotate Sass
 *
 * Ex: @include rotate(90deg);
 * Values: deg, turn or rad
 *
 */
@mixin rotate($rotate) {
  -webkit-transform: rotate($rotate);
     -moz-transform: rotate($rotate);
  transform: rotate($rotate);
}


/*
 * Scale Sass
 *
 * Ex: @include scale(0.7);
 *
 */
@mixin scale($scale) {
  -webkit-transform: scale($scale);
     -moz-transform: scale($scale);
  transform: scale($scale);
}


/* Hack's end Tools */
.fz {
  font-size: $fz;
  padding: $pz;
  margin: $mz;
}
.dn {
  display: $dn;
}
.tag {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 12px 20px;
  background-color: $color__first;
  text-transform: capitalize;
  font-size: $font__normal;
  font-weight: 700;
  color: $color__black;
}
