.header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2e3273;
  border: 1px solid #2d2e3240;
  box-shadow: 0 0 10px 1px #00000040;
  backdrop-filter: blur(15px);
  color: #fefefe;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;

  .content__flex {
    justify-content: space-between;
  }

}


.logotipo {
  text-transform: uppercase;
  font-family: $fontname_last;
  font-size: $font__big;
  font-weight: 700;

  b {
    font-weight: 400;
    color: $color__gray__clean;
  }
  span {
    font-weight: 700;
    color: $color__white;
  }

  a {
    color: $color__white;
    text-decoration: none;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  ul {
    display: flex;
  }

  li {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    font-weight: 600;
    color: $color__white;
    @include transition(all 280ms ease-in-out);

    &:hover {
      color: $color__first;
      font-weight: 900;
    }

    &:hover:after {
      content: "_";
      position: absolute;
    }
  }

}

.nav__contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    font-weight: 600;
    color: $color__white;
    @include transition(all 280ms ease-in-out);

    &:hover,
    &:hover .bx {
      color: $color__first;
      font-weight: 900;
      @include transition(all 280ms ease-in-out);
    }

    &:hover:after {
      content: "_";
      position: absolute;
    }

    .bx {
      position: relative;
      top: 2px;
      font-size: $font__icon__normal;
      color: $color__white;
      @include transition(all 280ms ease-in-out);

    }
  }

  li {
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }
}
