/* Header */
.header {
    background-color: var(--gray);
    border-bottom: 1px solid var(--black);
}

.header .content__flex {
    padding: 60px 0;
    align-items: center;
    justify-content: space-between;
}

.header .content__flex:last-child {
    padding-top: 0;
}

.header__logotipo {
    color: var(--white);
    font-size: var(--font-smaller);
    font-weight: var(--weight-mini);
}

.header__menu a,
.header__tools a {
    color: var(--white);
    text-decoration: none;
    padding: 12px 24px;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
}

.header__menu a:hover, .header__tools a:hover {
    color: var(--color-first);
    position: relative;
}
.header__menu a:hover:after, .header__tools a:hover:after {
    content: "_";
    position: absolute;
    right: 14px;
}

.header__menu ul,
.header__tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__menu ul li {
}

.header__menu ul li a {
}

.header__tools li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__tools li a .bx {
    margin-right: 12px;
    font-size: var(--font-small);
}

.header__article,
.header__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.header__article {
    align-items: flex-start;
}

.header__article__group {
    margin-bottom: 20px;
}

.header__article__group h2 {
    margin-bottom: 12px;
    padding: 12px;
    display: inline-block;
    font-size: var(--font-smaller);
    background-color: var(--color-first);
}

.header__article__group h3 {
    color: var(--white);
    font-size: var(--font-small);
}

.header__article p {
    color: var(--white);
}

.header__figure {
}