/* Acima de 1920 */
@media (min-width: 120em) {}

/* Acima de 1600 */
@media (min-width: 100em) {}

/* Acima de 1366px */
@media (min-width: 85.4375em) {}

/* Abaixo de 1366px */
@media (max-width: 85.375em) {}

/* Abaixo de 1200px */
@media (max-width: 75em) {}

/* Abaixo de 1024px */
@media (max-width: 64em) {

  /* Header */
  .header__logo {
    margin-bottom: 30px;
  }

  .header__logo,
  .header__menu {
    flex-basis: 100%;
  }

  .header__logo,
  .header__menu ul {
    text-align: center;
    justify-content: center;
  }

  /* Main */
  section article {
    margin-right: 0;
    margin-bottom: 20px;
  }
  section article,
  section figure {
    flex-basis: 100%;
  }
  
  section .content__flex:last-child article {
    margin-left: 0;
  }

}

/* Abaixo de 768px */
@media (max-width: 49em) {}

/* Abaixo de 480px */
@media (max-width: 31em) {}
